<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nikati.manage.modular.system.dao.VisitorMapper">
    <!--<foreach collection="list" item="item" index="index" open="(" close=")" separator="," >  
                       #{item}  
                </foreach>
    -->
    <delete id="deleteBatch" parameterType="java.lang.Integer">
        delete from visitor where id in
        <foreach collection="array" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>

    </delete>

    <select id="selectByPrimaryKey" resultType="com.nikati.manage.modular.system.model.Visitor"
            parameterType="java.lang.Integer">

select * from visitor  where id=#{id}

    </select>


    <select id="getList" resultType="com.nikati.manage.modular.system.model.Visitor" parameterType="map">
        select * from visitor
    </select>

    <select id="getTotalCount" resultType="java.lang.Integer" parameterType="map">
        select count(1)
        from visitor

    </select>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from visitor where id = #{id}
	</delete>


    <insert id="insertSelective" parameterType="com.nikati.manage.modular.system.model.Site" useGeneratedKeys="true"
            keyProperty="id">
        insert into visitor
        <set>
            <if test="id != null">id=#{id},</if>
            <if test="ip != null">ip=#{ip},</if>
            <if test="os != null">os=#{os},</if>
            <if test="browser != null">browser=#{browser},</if>
            <if test="address != null">address=#{address},</if>
            create_time=now()
        </set>
    </insert>



    <insert id="batchInsert" parameterType="list"  >
            insert into visitor(ip,os,browser,address,create_time) values
        <foreach collection="list" item="item" index="index"
                 separator=",">
            ( #{item.ip}, #{item.os}, #{item.browser},
            #{item.address}, create_time=now())
        </foreach>
    </insert>

    <update id="batchUpdate" parameterType="list">
        <foreach collection="list" separator=";" item="cus">
            update visitor set
            ip = #{cus.ip},
            os = #{cus.os},
            browser = #{cus.browser},
            address = #{cus.address}
            where id = #{cus.id}
        </foreach>

    </update>
    <select id="batchSelect" resultType="com.nikati.manage.modular.system.model.Visitor"  >
        select * from visitor where id in
        <foreach collection="ids" item="dramaId" open="(" close=")" separator=",">
            #{dramaId}
        </foreach>
    </select>

    <update id="updateByPrimaryKeySelective" parameterType="com.nikati.manage.modular.system.model.Visitor" >
        update visitor
        <set>
            <if test="id != null">id=#{id},</if>
            <if test="ip != null">ip=#{ip},</if>
            <if test="os != null">os=#{os},</if>
            <if test="browser != null">browser=#{browser},</if>
            <if test="address != null">address=#{address}</if>
        </set>
        where id = #{id}
    </update>


</mapper>